<div class="col-lg-6" style="padding: 30px 10px;">

  <form >
    <h1 style="font-weight: bold; padding: 10px 30px ;"> Contact  </h1>
    <div class="mb-3" style="padding: 0px 15px ;">
      <input type="text" class="form-control" placeholder="Enter Your First Name Please"><br>
      <input type="text" class="form-control" placeholder="Enter Your  Last Name Please"><br>
      <input type="email" class="form-control" placeholder="Enter Your  E-mail Please"><br>
      <input type="text" class="form-control" placeholder="Enter Your Mobile Number Please"><br>
      <textarea type="text" class="form-control" placeholder="Enter Your Address Please"></textarea>
      <button class="btn btn-md btn-dark mt-3" style="font-size: 15px;"> Submit </button>
    </div>
  </form>

</div>
