<div class="container nt-5 mb-5" >
  <br>
  <h1 style="text-align: center; font-weight: bold;"> About </h1>

  <p>
    Food is the necessity of life. It provides nutrition, sustenance and growth to human body. Food can be classified into cereals, pulses, nuts and oilseeds, vegetable, fruits, milk and milk products and flesh food. Food comprises protein, facts, carbohydrates, vitamins, minerals salts and water. Most of the food items contain all these in varying properties. Oil and ghee are exclusively fats while sugarcane and starch contain high amount of carbohydrates. Accordingly, food items are termed as protein rich, vitamin rich, fat rich food etc.
  </p>
  
  <p>
    food items are termed as protein rich, vitamin rich, fat rich food etc. Proteins, fats and carbohydrates are usually termed as proximate principles. Along with water, which is an important food element, proximate principles from the main bulk food? These are burnt or oxidized in the body to provide energy for the different activities of life. Consequently, different age groups need different food mix. Vitamins and minerals salts do not supply energy but they play a very crucial role in regularization of various body functions. Some of the minerals are important components of the body structure like bones and teeth.
  </p>
</div>
